<html> 
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Success</title>
      <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
      <link rel="stylesheet" href="../static/general.css">
      <link rel="stylesheet" href="../static/header.css">
      <link rel="stylesheet" href="../static/main.css">
      <link rel="stylesheet" href="../static/footer.css">
      <link rel="stylesheet" href="../static/single_item.css">
      <link rel="stylesheet" href="../static/buttons.css">
      <link rel="stylesheet" href="../static/ack.css">
   </head> 
   <body>
      <header>
         <div class="container">
           <nav class="nav">
               <h1 class="nav__header"><a href="/index" class="nav__header-link">Code Battle Advanced</a></h1>
           </nav>
         </div>
      </header>

      <main class="main">
         <div class="container">
            <section class="main__wrapper submission__wrapper">
               <h2 class="submission__header">File uploaded successfully</h2>
               <p role="presentation"><a class="purple-btn" href="/submissions/1">Check your submissions</a></p> 
            </section>
         </div>
      </main>

      <footer class="footer">
         <div class="container">
            <p class="footer__copyright">&copy; Copyright</p>
         </div>
       </footer>
   </body>
</html>
