<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Contest content</title>
</head>
<body>
   
</body>
</html>
<html> 
   <head> 
      <title>Contest content</title> 
   </head>
   <h1>Code Battle Advanced</h1>
   <li role="presentation" class="active"><a href="/index">Home</a>
   <li role="presentation" class="active"><a href="/contest/{{contest_name}}/leaderboard/1">Leaderboard</a>
   <body> 
      <h1>{{contest_name}}</h1>
   </body>
   {% for name, uuid in listOfTasks %}    
 		<li role="presentation"><a href={{contest_name}}/task/{{uuid}}>{{name}}</a>
		</li>
   {% endfor %}
   {%if admin is defined %}
   {%if admin%}
   <h2>You can add your own task</h2>
   <li role="presentation" class="active"><a href="/contest/{{contest_name}}/upload">Create your own task</a>
   {% endif %}
   {% endif %}
   </li> 
</html>
