<html> 
   <head> 
      <title>Contest content</title> 
   </head> 
   <body> 
      <h1>{{contest_name}}</h1>
   </body>
   {% for url in listOfTasks %}    
 		<li role="presentation"><a href=/task/{{url}}>{{url}}</a>
		</li>
   {% endfor %}
   {%if admin is defined %}
   <h2>You can add your own task</h2>
	<form action = "/contest/{{contest_name}}" method = "post" enctype="multipart/form-data">   
	    <input type="file" name="zip" />
	    <input type = "submit" value="Upload">
	</form>
   {% endif %}
   </li> 
</html>