<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Battle Advanced</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/general.css">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/buttons.css">
    <link rel="stylesheet" href="/static/create.css">
    <link rel="stylesheet" href="/static/checkbox.css">
    <link rel="stylesheet" href="/static/file_upload.css">
</head>
<body>
    <header class="header">
        <div class="container">
          <nav class="nav">
            <h1 class="nav__header"><a href="/index" class="nav__header-link">Code Battle Advanced</a></h1>
          </nav>
        </div>
    </header>

    <main class="main">
        <div class="container">
            {% if admin is defined %}
            {% if admin %}
            <form class="form-contest" action="/create" method="post" enctype="multipart/form-data">
                <label for="ContestName">Contest name:</label>
                <input type="text" name="ContestName" id="ContestName" class="form-control" placeholder="Contest's title" required autofocus>
                <label for="StartTime">Start time in UTC:</label>
                <input type="text" name="StartTime" id="StartTime" class="form-control" placeholder="Format: DD/MM/YYYY HH:MM:SS" required autofocus>
                <label for="duration">Duration in minutes:</label>
                <input type="text" name="duration" id="duration" class="form-control" placeholder="Duration" required autofocus>
                <label for="description">Description:</label>
                <input type="text" name="description" id="description" class="form-control" placeholder="Description" required autofocus>
                <p class="form__contest-upload">You can upload your own type of contest in python format:</p>
                <div class="file-area">
                	Choose File
                        <input type="file" name="type_python" id="choose-file">
		</div>
                <input class="form-check-input" type="checkbox" value="No" id="teams" name="teams">
                <label for="teams">Teams are allowed</label>
                <button id="Submit" class="purple-btn btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
            {% endif %}
            {% endif %}
            {% with messages = get_flashed_messages() %}
          {% if messages %} 
          <ul class=flashes>
             {% for message in messages %} 
            <li>{{ message }}</li>
             {% endfor %} 
           </ul>
          {% endif %}
          {% endwith %} 
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p class="footer__copyright">&copy; Copyright</p>
        </div>
    </footer>
</body>
</html>
