<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code battle advanced</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/single_item.css">
    <link rel="stylesheet" href="../static/buttons.css">
    <link rel="stylesheet" href="../static/create.css">
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="nav">
          <h1 class="nav__header"><a href="main" class="nav__header-link">Code Battle Advanced</a></h1>
        </nav>
      </div>
    </header>
    <main class="main">
      <div class="container">
        <div class="main__wrapper">
          <!-- {%if admin is defined%} 
            {%if admin%} -->
            <form class="form-contest" action="/create" method="post">
              <label for="inputName" class="sr-only">Contest name:</label>
              <input type="ContestName" name="ContestName" id="ContestName" class="form-control" placeholder="Contest name" required autofocus>
              <label for="inputName" class="sr-only">Start time in UTC:</label>
              <input type="StartTime" name="StartTime" id="StartTime" class="form-control" placeholder="DD/MM/YYYY HH:MM:SS" required autofocus>
              <label for="inputName" class="sr-only">Duration in minutes:</label>
              <input type="duration" name="duration" id="duration" class="form-control" placeholder="" required autofocus>
              <button id="Submit" class="btn-lg btn-primary btn-block purple-btn" onclick = 'this.form.submit();' type="button">Submit</button>
            </form>
            <!-- {%endif%}
          {%endif%} -->
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <p class="footer__copyright">&copy; Copyright</p>
      </div>
    </footer>
  </body>
</html>