<!DOCTYPE html>
<html lang="en">
<head>
    <title>Code Battle Advanced</title>
</head>
<body>
    <h1>Code Battle Advanced</h1>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="index">Home</a></li>
                </ul>
            </nav>
        </div>
        {% if admin is defined %}
        {% if admin %}
        <form class="form-contest" action="/create" method="post" enctype="multipart/form-data">
            <p>Contest name:</p>
            <input type="text" name="ContestName" id="ContestName" class="form-control" placeholder="ContestName" required autofocus>
            <p>Start time in UTC:</p>
            <input type="text" name="StartTime" id="StartTime" class="form-control" placeholder="DD/MM/YYYY HH:MM:SS" required autofocus>
            <p>Duration in minutes:</p>
            <input type="text" name="duration" id="duration" class="form-control" placeholder="" required autofocus>
            <p>You can upload your own type of contest in python format:</p>
            <input type="file" name="type_python">
            <input type="checkbox" name="teams" id="teams" value="No">
            <label for="teams"> Teams are allowed</label><br>
            <button id="Submit" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
        {% endif %}
        {% endif %}
    </div>
</body>
</html>
