<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Upload the file : GFG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/single_item.css">
    <link rel="stylesheet" href="../static/buttons.css">
    <link rel="stylesheet" href="../static/task.css">
  </head>
  <body>
    <header>
      <div class="container">
      <nav class="nav">
        <h1 class="nav__header"><a href="/index" class="nav__header-link">Code Battle Advanced</a></h1>
        {%if username is defined %}
        <ul class="nav__list nav-pills pull-right">
          <p class="nav__item logged" role="presentation"><a class="nav__link" href="/personal">{{username}}</a></p>
        </ul>
        {%endif%}
      </nav>
    </header>

    <main class="main">
      <div class="container">
        <section class="main__wrapper">
