<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Code Battle Advanced</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="/static/general.css">
        <link rel="stylesheet" href="/static/header.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/footer.css">
        <link rel="stylesheet" href="/static/buttons.css">
        <link rel="stylesheet" href="/static/main_nav.css">
        <link rel="stylesheet" href="/static/task_archive.css">
    </head>
    <body>
        <header>
            <div class="container">
            <nav class="nav">
                <h1 class="nav__header"><a href="/index" class="nav__header-link">Code Battle Advanced</a></h1>
                <ul class="nav__list nav-pills pull-right">
                     {%if username is defined %}
                    <li class="nav__item logged" role="presentation"><a class="nav__link" href="/personal">{{username}}</a></li>
                    <li class="nav__item" role="presentation"><a class="nav__link" href="/logout">Logout</a></li>
                    {% else %} 
                    <li class="nav__item" role="presentation"><a class="nav__link" href="/signin">sign in</a></li>
                    <li class="nav__item" role="presentation"><a class="nav__link" href="/signup">Get started</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <main class="main">
            <div class="container">
                <section class="jumbotron">
                    <h1 class="main__archive-header">Tasks_archive</h1>
                        {% for contest, uuid, task_name in all_tasks %}
                        <article class="task">
                            <h2 class="task__header">{{contest}}: {{task_name}}</h2>
                            <p class="task__desc">Description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eveniet nemo, molestiae atque repudiandae doloremque perferendis eos non? Assumenda asperiores obcaecati eveniet quia libero praesentium quam quibusdam saepe totam dolorum.
                            Quibusdam ullam soluta consequatur voluptate, error voluptates repellat deserunt officia possimus distinctio accusamus cum maxime, quidem ducimus aut sit earum omnis amet? Accusamus nulla sunt corrupti repudiandae quo, repellendus unde.
                            Itaque, ea. Laborum, placeat reiciendis tempora, numquam, dolore pariatur quos deleniti consequuntur provident laudantium praesentium repellendus? Quasi, nesciunt aliquam? Laudantium temporibus quia esse deleniti obcaecati?</p>
                            <div class="task__buttons">
                                <p role="presentation" class="red-btn"><a href="#" class="main__nav-link">To contest</a></p>
                            </div>
                        </article>
                        {% endfor %}
                </section>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
            <p class="footer__copyright">&copy; Copyright</p>
            </div>
        </footer>
    </body>
</html>