.submission__wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.submission__header {
    font-size: 36px;
    margin-bottom: 1em;
}

a.purple-btn {
    display: inline-block;
}

@media (max-width: 360px) {
    .nav__header {
        margin: 0 auto;
    }
}
