.form-contest > label {
    font-size: 24px;
}

.form-contest > input {
    border-bottom: 2px solid white;
    border-radius: 4px;
    font-size: 20px;
}

.form-contest > input::placeholder {
    font-size: 18px;
}

.flashes {
    margin-top: 1em;
    text-align: center;
}
