.form-contest {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    gap: 1em;
    font-size: 24px;
}

.form__submit, .form__select {
    font-size: 16px;
    text-transform: capitalize;
    background-color: #00C643;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 0;
}

.form__submit {
    background-color: #7a1e5f;
    transition: background-color 0.3s;
}

.form__submit:hover {
    background-color: #000000;
}

#ContestName, #StartTime, #duration {
    border-bottom: 2px solid #000000;
}