@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

button {
    border: none;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}

input::placeholder {
    font-size: 18px;
    user-select: none;
}

input::placeholder {
    color: #fff;
}

.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}
