.main__groups-group {
    padding: 1em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1em;
}

.main__groups-group:nth-child(2n + 1) {
    background-color: #E2E2E2;
}

.group__header {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.main__groups-header {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}
