.btn__nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: right;
    margin-bottom: 0.5em;
}

.submission {
    padding: 30px;
    border-radius: 1em;
}

.submission:nth-child(2n) {
    background-color: #E2E2E2;
}

.submission__header {
    color: #000;
    margin-bottom: 14.5px;
    font-size: 24px;
    font-weight: 700;
}

.btn__nav-wrapper .red-btn:hover{
    background-color: transparent;
    font-size: 20px;
}

.btn__nav-wrapper .red-btn > a {
    transition: color 0.3s;
}

.btn__nav-wrapper .red-btn:hover > a {
    color: #DD0000;
}

.submission__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
