.main__wrapper {
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
}

.task__wrapper {
    font-size: 20px;
}

.task__wrapper > h1 {
    font-size: 2em;
}

.task__wrapper > p:nth-child(3),
.task__wrapper > p:nth-child(5) {
    margin-bottom: 1em;
}

.task__wrapper img {
    width: 100%;
}

.form__select-wrapper {
    margin-bottom: 0.2em;
}

label, select, input {
    min-width: 200px;
    margin: 0 auto;
}

.form__select-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
}

.purple-btn {
    display: block;
    width: 100%;
    margin-bottom: 0;
}

@media (max-width: 500px) {
    .purple-btn {
        max-width: 200px;
        margin: 0 auto;
    }
}